create-new-board .header{
  display: flex;
  flex-direction: column;
  /* width: 100%; */

  justify-content: center;
  background-color: var(--color-50);
  /* align-content: center; */
  /* align-self: center; */
  /* align-items: center; */
  /* text-align: center; */
  
  /* height: 150px; */
  font-size: 5vh;
  color:var(--color-500);

  border-bottom: 1px;
  border-color: var(--color-150);
}

create-new-board .header button{
  /* width:50px; */
  /* height:50px; */
  font-size: 3vh;
  height: 4vh;
}
create-new-board .header clr-icon{
  width:50px;
  height:50px;
  /* font-size: 3vh; */
}


create-new-board #content{
  display: flex;
  flex:1;
  flex-direction: column;
  align-content: center;
  align-self: center;
  align-items: center;

  width: 100%;
}

create-new-board .title{
  flex:1;
}
create-new-board .buttons{
  display: flex;
  flex:2;
  flex-direction: column;
  align-content: center;
  align-self: center;
  align-items: center;
  
  width: 100%;
}
create-new-board .acc-btn-big {
  /* display: flex; */
  /* align-self: center; */
  /* align-content: center; */
  height: 7vh;
  width: 90%;
  min-width: 90%;
  /* max-width: 100%; */
  font-size: 5vh;
  /* color: yellow; */
}

create-new-board .title {
  display: flex;
  flex:1;

  align-self:   center;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  
  font-size: 5vh;
  line-height: 5vh;
}