sudoku-board-component {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    flex:1;    
}
sudoku-board-component .sudoku-board {
    display: flex;
    flex-direction: column;
    flex:1;
    
}

sudoku-board-component .sudoku-board .row {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

sudoku-board-component .sudoku-board .cell {
    flex: 1;
    display: flex;
    /* justify-content: center; */
    /* min-width: 10.5vw; */
    /* max-width: 10.5vw; */
    /* min-height: 10vw; */
    /* max-height: 10vw; */
}

sudoku-board-component .sudoku-board .row0 {
    /* border-top: black; */
    border-top-style: solid;
}

sudoku-board-component .sudoku-board .row1, .row4, .row7 {
    /* border-top: black; */
    border-top-style: dotted;
}

sudoku-board-component .sudoku-board .row2, .row5, .row8 {
    /* border-top: black; */
    border-top-style: dotted;
    border-bottom: black;
    border-bottom-style: solid;
}

sudoku-board-component .sudoku-board .column0 {
    border-left: black;
    border-left-style: solid;
}

sudoku-board-component .column1, .column4, .column7 {
    border-left: black;
    border-left-style: dotted;
}

sudoku-board-component .sudoku-board .column2, .column5, .column8 {
    border-left: black;
    border-left-style: dotted;
    border-right: black;
    border-right-style: solid;
}

sudoku-board-component .area-selected {
    background-color: cornsilk;
}

sudoku-board-component .selected {
    background-color: antiquewhite;
}

sudoku-board-component .UniquePossibleValue{
    background-color: aquamarine;
}

sudoku-board-component .UniqueOccurenceInZone{
    background-color: cadetblue;
}



sudoku-board-component .chenillardCol {
    /* background-color:cyan; */
    background-color: antiquewhite;
    /* background: linear-gradient(to top, burlywood); */
    /* background-size: 300% 300% ; */
    /* background-position: top bottom; */
    /* transition: background-color 0.2s ease; */
}

sudoku-board-component .incorrect {
    background-color: burlywood;
}