.gameOnGoinghide {
  display: none;
}

.gameOnGoingshow {
  display: block;
}

splash-screen-page #banner {
  font-size: 15vh;
  display: flex;
  /* flex-direction: row; */
  align-self: center;
  /* justify-content: center; */
  /* background-color: beige; */
}

.whatnext{
  display: flex;
  flex-direction: column;
  flex:1; 
  /* width: 100%; */
  align-content: center;
  align-self: center;
  align-items: center;
  /* background-color: aqua; */
}

.whatnext-question-button {
  font-size: 10vh;
  display: flex;
  padding: 20px;
  width: 100%;

  /* flex attributes*/
  /* flex: 2; */
  /* max-height: 30%; */

}

