/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@import url('../../node_modules/@clr/ui/clr-ui.min.css');
@import url('../../node_modules/@clr/icons/clr-icons.min.css');

/* material design Red 50 */
red-50 {
  --red-50: #FFEBEE;
  --red-100: #FFCDD2;
  --red-200: #EF9A9A;
  --red-300: #E57373;
  --red-400: #EF5350;
  --red-500: #F44336;
  --red-600: #E53935;
  --red-700: #D32F2F;
  --red-800: #C62828;
  --red-900: #B71C1C;
  --red-A100: #FF8A80;
  --red-A200: #FF5252;
  --red-A400: #FF1744;
  --red-A700: #D50000;
}

light-green-50 {
  --light-green-50: #F1F8E9;
  --light-green-100: #DCEDC8;
  --light-green-200: #C5E1A5;
  --light-green-300: #AED581;
  --light-green-400: #9CCC65;
  --light-green-500: #8BC34A;
  --light-green-600: #7CB342;
  --light-green-700: #689F38;
  --light-green-800: #558B2F;
  --light-green-900: #33691E;
  --light-green-A100: #CCFF90;
  --light-green-A200: #B2FF59;
  --light-green-A400: #76FF03;
  --light-green-A700: #64DD17;
}
:root{
  --color-50: #F1F8E9;
  --color-100: #DCEDC8;
  --color-200: #C5E1A5;
  --color-300: #AED581;
  --color-400: #9CCC65;
  --color-500: #8BC34A;
  --color-600: #7CB342;
  --color-700: #689F38;
  --color-800: #558B2F;
  --color-900: #33691E;
  --color-A100: #CCFF90;
  --color-A200: #B2FF59;
  --color-A400: #76FF03;
  --color-A700: #64DD17;
}
