/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

  /*
  Interesting Color website
  https://www.color-hex.com
  */


@font-face {
  font-family: "localFontAwesome";
  src: url("/assets/icon/fontawesome-free-5.11.2-web/webfonts/fa-solid-900.woff2") format("woff2")
}

@font-face {
  font-family: "draft";
  src: url("/assets/font/cheveuxdange.medium.ttf")
}

/* #awesomelocal {
  font-family: "localFontAwesome";
  font-weight: bold;
} */

/* @media screen and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */


body {
  margin: 0px;
  padding: 0px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pagecontent {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* align-content: center; */
  /* align-items: center; */
  /* justify-items: center; */
  justify-content: center;
  height: 100%;
}

:root {
  /* --value-fontsize: 10vmin;
  --draftvalue-fontsize: 2.5vmin;
  --keyboard-value-fontsize: 10vmin;
  --keyboard-draftvalue-fontsize: 2.5vmin;
  --header-actionbutton-fontsize: 4vmin; */

  --value-fontsize: 7vh;

  /* #2f4f4f Color Hex Dark Slate Gray*/
  --value-color: #2f4f4f;
  
  --draftvalue-fontsize: 2vh;
  --draftvalue-fontfamily: 'draft';
  /* #778899 Color Hex Light Slate Gray */
  /* lighter than light slate gray*/
  --draftvalue-color: #a3afba;

  --keyboard-value-fontsize: 7vh;
  --keyboard-value-icon-fontsize: 5vh;

  --keyboard-value-color: var(--value-color);
  
  --keyboard-draftvalue-fontsize: 2vh;
  --keyboard-draftvalue-color: var(--draftvalue-color);
  
  
  --header-actionbutton-fontsize: 3vh;
  

}

/** Core CSS required for ionic components to work property */
/* @import url('../../node_modules/@ionic/core/css/core.css'); */

/** Basic CSS for apps built with Ionic */
/* @import url('../../node_modules/@ionic/core/css/normalize.css'); */
/* @import url('../../node_modules/@ionic/core/css/structure.css'); */
/* @import url('../../node_modules/@ionic/core/css/typography.css'); */

/** Optional CSS utils that can be commented out */
/* @import url('../../node_modules/@ionic/core/css/padding.css'); */
/* @import url('../../node_modules/@ionic/core/css/float-elements.css'); */
/* @import url('../../node_modules/@ionic/core/css/text-alignment.css'); */
/* @import url('../../node_modules/@ionic/core/css/text-transformation.css'); */
/* @import url('../../node_modules/@ionic/core/css/flex-utils.css'); */

.displayNone {
  display: none;
}

.hidden {
  visibility: hidden;
}

.flex-hidden {
  display: none;
}
