 
  .sudoku-board-cell-draft {
    display: flex;
    flex: 1;
    flex-direction: column;

    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column;   */
    /* text-align: center; */
    /* vertical-align: middle; */

}

 .sudoku-board-cell-draft .row {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

 .sudoku-board-cell-draft .draft {
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    justify-content: center;

    
    min-width: var(--draftvalue-minwidth);
    min-height: var(--draftvalue-minwidth);
    font-size: var(--draftvalue-fontsize);
}

 .sudoku-board-cell {
    /* background-color: violet; */
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height:100%;
}

 .sudoku-board-cell .value {
    margin: auto;
    font-size: var(--value-fontsize);
}

 .initialvalue{
    /* text-decoration: underline; */
    color: slategrey;
}