sudoku-board-cell-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column;   */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* margin: auto; */
}



sudoku-board-cell-component .sudoku-board-cell-draft {
  display: flex;
  flex: 1;
  flex-direction: column;

  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column;   */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* margin: auto; */

}

sudoku-board-cell-component .rowdraft {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column;   */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* margin: auto; */
}

sudoku-board-cell-component .celldraft {
  /* background-color: yellow; */
  flex: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: var(--draftvalue-fontsize);
  font-weight: bold;
  color: slategrey;
}

sudoku-board-cell-component .sudoku-board-cell {
  /* background-color: violet; */
  flex: 1;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* height:100%; */
}

sudoku-board-cell-component .sudoku-board-cell .value {
  margin: auto;
  font-size: var(--value-fontsize);
}

sudoku-board-cell-component .initialvalue {
  /* text-decoration: underline; */
  color: slategrey;
}
