acc-flipbox {
  display: flex;
  flex: 1;
  /* flex-direction: column; */
}

/* 
TODO: fadein / out works IF display: none/inherit are commented
if display is commented the flex box center horizontal / vertical does not work anymore :-(
I need to found a way to remove display attribute but still having the center

*** may be need to change layout management, not using anymore flex but another way ???

*/
acc-flipbox .fadein {
  display: flex;
  flex: 1;
  opacity: 0;
  /* position: absolute; */
  /* width: 100%; */
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
  visibility: hidden;
  display: none;
}

acc-flipbox .fadeout {
  display: flex;
  flex: 1;
  opacity: 1;
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
  transition: visibility 0.5s, opacity 0.5s ease-in-out, ;
  visibility: visible;
  display: inherit;
}
