acc-flipbox {
  width: 100%;
  height: 100%;
  position: relative;
}

acc-flipbox .fadein {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ;
  visibility: hidden;
}
acc-flipbox .fadeout {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: visibility 0.5s, opacity 0.5s ease-in-out, ;
  visibility: visible;
}
