/* The switch - the box around the slider */
acc-switch {
  display: flex;
  /* flex:1; */
  flex-direction: row;
  align-content: center;
  align-items: center;
  /* align-self: center; */
  /* justify-content: center; */
  color: black;
}

acc-switch .container {
  display: flex;
  /* align-content: center; */
  align-items: center;
  /* align-self: center; */
  /* justify-content: center; */
  padding: 10px;
}

acc-switch label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  color: darkslateblue;
}

/* Hide default HTML checkbox */

.acc-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.acc-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.acc-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.acc-switch input:checked+.slider {
  /* background-color: #2196F3; */
  background: #89669b;
}

.acc-switch input:focus+.slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px #89669b;
}

.acc-switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.acc-switch .slider.round {
  border-radius: 34px;
}

.acc-switch .slider.round:before {
  border-radius: 50%;
}

.acc-switch slot {
  background-color: aqua;
}
