sudoku-page acc-page {
  height: 100%;
}

sudoku-page clr-icon {
  margin: 3px;
}

sudoku-page button {
  font-size: 5vh;
  padding: 10px;
}

sudoku-page .draft {
  width: 4vw;
  height: 4vw;
}

sudoku-page .pause {
  width: 25vw;
  height: 25vh;
}

sudoku-page acc-page .header {
  /* background: #5851ff; */
  background-color: antiquewhite;
  color: white;
  max-height: 5vh;
  min-height: 50px;
  display: flex;
  align-items: center;
  /* align-self: center; */
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

sudoku-page acc-page .title {
  flex: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2vh;
  color: black;
  padding: 0 12px;
}

acc-switch {
  font-size: 3vh;
}

sudoku-page [slot="back"] {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /* width: 100%; */
  height: 80vh;
}

sudoku-page [slot="back"] clr-icon {
  width: 240px;
  height: 240px;
  /* margin: auto; */
}

sudoku-page [slot="front"] {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;  
  text-align: center;
  vertical-align: middle;
  /* font-size: 50vh; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* cursor: pointer; */
}