sudoku-page acc-page {}

acc-button {
  font-size: 2vh;
}
sudoku-page acc-page header {
  /* background: #5851ff; */
  background-color: antiquewhite;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  /* align-self: center; */
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

sudoku-page acc-page .title {
  flex: 1;
  align-self: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 3vh;
  /* color: #fff; */
  color: darkslateblue;
  /* padding: 0 12px; */
}

acc-switch{
  font-size: 3vh;
}

sudoku-page acc-page .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

sudoku-page acc-page key-board {
  flex: 1;
}